html
  head
    title #{Theme.name} - powered by #{sys.name} v#{sys.version}
    style.
        *,body {
            margin: 0;
            padding: 0;
        }
  body
    span.inlinesparkline !{data}
    script(src="#{static}/jquery-1.8.3.min.js")
    script(src="#{static}/jquery.sparkline.min.js")
    script.
      $('.inlinesparkline').sparkline();